---
- hosts: rhgs-nodes
  user: vagrant
  become: yes
  vars:
    # make sure this value is the same
    etcd_fqdn: TENDRL.host
    graphite_fqdn: TENDRL.host
  roles:
    - tendrl-ansible.tendrl-copr
    - tendrl-ansible.tendrl-storage-node
